[user]
	email = emilylucia.antosch@moia.io
	name = Emily Lucia Antosch

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[init]
    defaultBranch = main
[submodule]
    recurse = true
[push]
    autoSetupRemote = true
[alias]
    uc = reset --soft HEAD~1
